._header_ {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  padding-left: 15px;
  font-size: 28px;
  color: #0079AF;
}

.header_btn_container {
  display: flex;
}

.header_btn {
  height: 30px;
  width: 100px;
  margin: 5px;
  background-color: #67c6f0;
  color: #eeeeee;
  border-radius: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header_btn:hover {
    background-color: #eeeeee;
    color: black;
}

.btn_icon{
    padding-right: 10px;
}